services:
  php:
    build: .
    volumes:
      - .:/var/www/html
    environment:
      - DATABASE_URL=mysql://root:root@database:3306/trendos_db

  database:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: trendos_db
    ports:
      - "3306:3306"
    volumes:
        - ./dump.sql:/docker-entrypoint-initdb.d/dump.sql

  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php
