services:
  php:
    build: .
    volumes:
      - .:/var/www/html
    environment:
      - DATABASE_URL=mysql://root:root@database:3306/trendos_db

  database:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: trendos_db
    ports:
      - "3306:3306"

  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
        - 8081:80
    environment:
        - PMA_ARBITRARY=1

  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php
